*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #7F00FF;  /* fallback for old browsers */
    background-color: -webkit-linear-gradient(to right, #E100FF, #7F00FF);  /* Chrome 10-25, Safari 5.1-6 */
    background-color: linear-gradient(to right, #E100FF, #7F00FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    justify-content: center;
}

div.container{
    border: 1px solid black;
    min-width: 35%;
    margin-top: 1rem;
    border-radius: 15px;
    border: 1px solid black;
    padding: 1rem;
    background-color: #fff;

}

div.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem; 
}

div.search input{
    border: 1px solid;
    height: 1.9rem;
    border-radius: 30px;
    width: 85%;
    padding: 0.3rem 0.9rem;
    font-size: 1.3rem;
}

div.search{
    width: 75%;
}

div.addBtn .add{
    border: 0;
    background-color: #480ca8;
    color: #fff;
    height: 2.6rem;
    border-radius: 30px;
    width: 100%;
    padding: 0.3rem 0.9rem;
    font-weight: bold;
}

/* hero-section */

div.hero-section{
    /* border: 1px solid #000; */
    /* padding: 2px; */
    margin-top: 3rem;
}

div.column{
    /* border: 2px solid red; */
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

div.para{
    /* border: 2px solid green; */
    width: 50%;
    padding: 0.7rem;
    font-size: 1.1rem;
    text-transform: capitalize;
}

div.icons{
    /* border: 1px solid blue; */
    /* width: 20%; */
}

div.icons  i{
    /* margin: 5px 5px; */
    padding: 0.7rem ;
    background-color: #480ca8;
    color: #fff;
}

.icon-1:hover {
    color: blue;
    cursor: pointer;
}


.icon-2:hover {
    color: red;
    cursor: pointer;
}

